body {
 font-family: arial;
 background-color:  #89c1c2;
}

div {
  display:inline-block;
/*  background-color:#919999;*/
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 5px;
  font-family: Georgia;
}

header {
  border-radius: 5px;
  display:inline-block;
  margin-left:13%;
  font-size: 17px;
  padding: 7px;
  border-radius: 5px;
  padding: 7px;
  font-size: 20px;
  position: absolute;

  }

.a {
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 5px;
}

p {
  background-color:#e0ebeb;
  display: inline-block;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
}

 {
/*  background-color:#e0ebeb;*/
  border: 1.5px solid black;
  border-radius: 7px;
/*  display:inline-block;*/
  margin-left: 37.3%;
  padding: 7px;
/*  position: absolute;*/
  bottom:10px;
}
a{

}

.img {
  width:520px;
  height:310px;
  border-radius: 5px;
  border: 1.5px solid black;
  display:inline-block;
  margin-left: 30%;
  margin-top: 80%
  bottom:30px;
  padding:5px;
}
.icon
{
  width:40px;
  height:40px;
  display:inline-block;
  position:relative;
  left:40.5%;
  margin-bottom: -48%;

}
.img2 {
  width:240px;
  height:310px;
  border-radius: 5px;
  display:inline-block;
  margin-left: 40%;
  bottom:30%;
  padding:5px;
    position: absolute;
}
.div
{
  background-color: #d1e0e0;
  width:100em;
  height: 52px;
  left: -10%;
  position: absolute;
  top: 0px;
}
.div2
{
  background-color: #d1e0e0;
  width:100em;
  height: 52px;
  left: -10%;
  position: absolute;
  bottom: 0px;
}