body {
 font-family: arial; 
 background:#ecf2f9;
}

div {
	display:inline-block;
	color: black;
	background-color:#e0ebeb;
}

header {
  border-radius: 5px;
  display:inline-block;
  margin-left: 9%;
  font-size: 17px;
  }

a {
  border: 1.5px solid black;
  padding: 7px;
  display: inline-block;
  border-radius: 5px;
  font-size: 17px;
  border-radius: 5px;
  font-family: Impact;
  color: #404040;
}

p {
  background-color:#e0ebeb;
  display: inline-block;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
}

nav {
  background-color:#e0ebeb;
  border: 1.5px solid black;
  border-radius: 7px;
  display:inline-block;
  margin-left: 37.3%;
  padding: 7px;
  position: absolute;
  bottom:10px;
}

img {
  width:290px;
  height:310px;
  border-radius: 5px;
  border: 1.5px solid black;
  display:inline-block;
  margin-left: 40%;
  margin-top: 80%
  bottom:30px;
  padding:5px;
}
