body {
 font-family: arial;
}

div {
  display:inline-block;
/*  background-color:#919999;*/
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 5px;
  font-family: Lucida Sans Unicode;
}

header {
  border-radius: 5px;
  display:inline-block;
  margin-left:15%;
  font-size: 17px;
  padding: 7px;
  border-radius: 5px;
  padding: 7px;
  font-size: 20px;
  }

.a {
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 5px;
}

p {
  background-color:#e0ebeb;
  display: inline-block;
  border: 1.5px solid black;
  padding: 5px;
  border-radius: 5px;
}

 {
/*  background-color:#e0ebeb;*/
  border: 1.5px solid black;
  border-radius: 7px;
/*  display:inline-block;*/
  margin-left: 37.3%;
  padding: 7px;
/*  position: absolute;*/
  bottom:10px;
}

.img {
  width:480px;
  height:310px;
  border-radius: 5px;
  border: 1.5px solid black;
  display:inline-block;
  margin-left: 30s%;
  margin-top: 80%
  bottom:30px;
  padding:5px;
}
.icon
{
  width:40px;
  height:40px;
  display:inline-block;
  position:relative;
  bottom:70px;
  left:40.5%;
  margin-bottom: -49%;
}